a,input,h1,h2,h3,h4,p{
    font-family:monospace;
}

a{
  color:black;
  text-decoration: none;
}
a:hover{
  color:#ccc;
  text-decoration: none;
  font-weight: inherit;
}
.posts{
  border-bottom: 2px solid #416A7A;
  max-width: 90vw;
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
  margin-bottom: 35px;
}
.posts:hover{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:8px;
  padding-right: 8px;
  border-color: #ccc;
}
.link:hover{
    background-color: #e4f2f0;
    text-color:  #087264;
    text-decoration: none.;
}

.center-block {
    float: none !important
}
.title{
    font-size: 1.5em;
    margin-bottom: 3%;

}

.center-block{
    background-color: #fff;
    padding: 10px;
}
.post-content{
    padding: 10px;
    text-align: justify;
    color:  #1F2B25;
}
.comment-form{
    max-width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
}
.form-control{
    width: 80%;
}
.comment-h3{
font-size: 18pt;
    color:  #1F2B25;

}
.comments{
    border: solid #cbd4d0 1px;
    border-left: solid #2dae75 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;

}
.comment{
    padding-left: 25px;
    border-bottom: solid #2dae75 2px;
    width: 75%;

}
.comment-author{
    font-size: 14pt;

}
.comment-content{
    font-size: 12pt;
}